<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>148677904223-sc2ee4glb0b02lpj3eeudjcd90pkv6c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148677904223-sc2ee4glb0b02lpj3eeudjcd90pkv6c9</string>
	<key>API_KEY</key>
	<string>AIzaSyCTVT7EdBUQnz15WdBH-UT9IJZC9FE70Bo</string>
	<key>GCM_SENDER_ID</key>
	<string>148677904223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rose-hulman.fisherds.Favorite-Photos</string>
	<key>PROJECT_ID</key>
	<string>fisherds-favorite-photos</string>
	<key>STORAGE_BUCKET</key>
	<string>fisherds-favorite-photos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148677904223:ios:147a5f78b3943f17</string>
	<key>DATABASE_URL</key>
	<string>https://fisherds-favorite-photos.firebaseio.com</string>
</dict>
</plist>